.App {
  display: flex;
  flex-direction: column;
}

.AddTimer {
  padding: 10px;
  align-self: center;
}

.AddTimerInput {
  margin-right: 10px;
}

.Timer {
  height: 60px;
  width: 500px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgray;
  border-radius: 10px;
  align-self: center;
  display: grid;
  grid-template-columns: 240px 100px 160px;
  font-size: 20px;
  color: darkslategrey;
  font-style: normal;
  align-content: center;
  margin-bottom: 4px;
}

.TimerName {
  padding-left: 10px;
  grid-column: 1;
  overflow: hidden;
}

.TimerRemaining {
  width: 100px;
  grid-column: 2;
}

.TimerButtons {
  grid-column: 3;
  display: flex;
  align-content: center;
  align-self: center;
}

.TimerButton {
  height: 24px;
  width: 40px;
  background-color: whitesmoke;
  margin-left: 24px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}